/* BurgerMenu.css */
*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.burger-menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  margin-top: -13px;
  background-color: #8BC462;
  position: fixed;
  z-index: 2;
  border-radius: 20px;
  width: 87%;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.burger-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.line {
  height: 3px;
  background-color: #ffffff;
  border-radius: 5px;
}

.menu {
  position: absolute;
  top: 70px;
  right: 30px;
  background-color: #fff;
  padding: 20px;
  color: #333;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  elevation: 5;
}
.menu:hover{
  transition: 2s 
}

.menu-item {
  cursor: pointer;
  padding: 10px;
}

.menu-item {
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center; /* Aligner l'icône verticalement avec le texte */
}

.menu-item ion-icon {
  margin-right: 8px; /* Espacement entre l'icône et le texte */
  font-size: 20px; /* Taille de l'icône */
}

/* Ajoutez d'autres styles au besoin */
