.categories-list{
    height: 20%;
    width: auto;
    /* margin: 25px; */
    h2{
        margin-left: 25px;
        color: #173602;
    }

    p{
        margin-top: -20px;
        font-size: 16px;
    }
}

.categories-list .category-items .category-item{
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    margin-left: 20px;
    span{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        background-color: #ffffff;
        width: 100px;
        height: 40px;
        color: #173602;
    }
    button{
        border: none;
        height: 35px;
        width: 35px;
        background-color: #173602;
        border-radius: 20px;
        margin-left: 5px;
    }    
}

.categories-list .category-items {
    display: flex;
    height: auto;
    width: auto;
    overflow-x: auto;
    margin-bottom: 25px;
}

.categories-list .descriptionparcelle{

    margin-top: 30px;
    background-color: #173602;
    border-radius: 25px;
    margin: 25px;
    height: 300px;
    .titremodif{
        display: flex;
        align-items: center;
        justify-content:  space-between;

        h2{
            text-align: left;
            color: #ffffff;
            display: flex;
        }
        svg{
            width: 20px;
            height: 20px;
            color: #ffffff;
            margin-right: 25px;
        }
        button{
            background-color: transparent;
            border: none;
            height: 40px;
            
        }

    }

    .textmodif{
        margin: 25px;
        border-radius: 10px;
        font-size: 12px;

        button{
            background-color: #173602;
            border: none;
            height: 40px;
            width: 100px;
            border-radius: 10px;
        }
    }
}

.categories-list .new-category{
    display: flex;
    justify-content: center;

    button{
        width: 100px;
        height: 40px;
        background-color: #173602;
        border: none;
        margin-left: 10px;
        border-radius: 10px;
        color: #8bc462;
    }

    input{
        width: 200px;
        height: 40px;
        background-color: #ffffff;
        border: none;
        border-radius: 10px;
        color: #173602;
        border: 1px solid #173602;

    }
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .categories-list button {
    animation-name: pulse; /* Applique l'animation de pulsation au survol du bouton */
      animation-duration: 1s; /* Durée de l'animation */
      animation-iteration-count: infinite; /* Nombre de fois que l'animation est répétée (infini dans ce cas) */
  }