/* TerrainList.css */

.parcelle-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    overflow-x: auto;
    height: 200px;
    align-items: center;

  }
  
  .parcelle-container .parcelle-item {
    width: auto;
    margin: 15px;
    height: 100px;
    border-radius: 10px;
    background-color: #8BC462;
    border-radius: 25px;
    padding: 10px;
  }

  .parcelle-container .parcelle-item img{
    width: 300px;
    height: 120px;
    border-radius: 25px;
  }
  
  .parcelle-container .parcelle-info {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }
  
  .parcelle-container .parcelle-info button {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 24px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .parcelle-container .parcelle-info button svg{
    color: #173602;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    transform: rotate(60deg);
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .page .terrainListe .titre button {
    animation-name: pulse; /* Applique l'animation de pulsation au survol du bouton */
      animation-duration: 1s; /* Durée de l'animation */
      animation-iteration-count: infinite; /* Nombre de fois que l'animation est répétée (infini dans ce cas) */
  }