.map-container-wrapper{
    display: inline;
    justify-content: center;
    border-radius: 25px;
    height: 300px;

    .map{
        border-radius: 25px;
        border: none;
    }

    button{
        background-color: #8bc462;
                border: none;
                height: 40px;
                width: 200px;
                border-radius: 10px;
                margin-top: 10px;
    }
}